<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:camel="http://camel.apache.org/schema/spring"
    xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://camel.apache.org/schema/spring
       http://camel.apache.org/schema/spring/camel-spring.xsd">

    <!--
        Simple camel route which send every one minute a message on the console.
    -->
   

   <!--<bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
   </bean>-->
 
   
   <!--<bean id="mainView" class="javax.servlet.jsp"></bean>-->
    
    
   <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
      <property name="persistenceUnitName" value="4414_ghhome_war_1.0-SNAPSHOTPU"/>
   </bean>
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
            <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>

    <bean id="jpa" class="org.apache.camel.component.jpa.JpaComponent">
            <property name="entityManagerFactory" ref="entityManagerFactory"/>
            <property name="transactionManager" ref="transactionManager"/>
    </bean>
    <camelContext xmlns="http://camel.apache.org/schema/spring">
        <packageScan>
            <package>h4414.ghome.camel.routes</package>
            <excludes>*.routes.specific*</excludes>  
        </packageScan>
    </camelContext>

</beans>
